@import "compass";

$linear:            cubic-bezier(0.250, 0.250, 0.750, 0.750) !default;
$ease:              cubic-bezier(0.250, 0.100, 0.250, 1.000) !default;

$ease-in:           cubic-bezier(0.420, 0.000, 1.000, 1.000) !default;
$ease-out:          cubic-bezier(0.000, 0.000, 0.580, 1.000) !default;
$ease-in-out:       cubic-bezier(0.420, 0.000, 0.580, 1.000) !default;

$ease-in-quad:      cubic-bezier(0.550, 0.085, 0.680, 0.530) !default;
$ease-out-quad:     cubic-bezier(0.250, 0.460, 0.450, 0.940) !default;
$ease-in-out-quad:  cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;

$ease-in-cubic:     cubic-bezier(0.550, 0.055, 0.675, 0.190) !default;
$ease-out-cubic:    cubic-bezier(0.215, 0.610, 0.355, 1.000) !default;
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000) !default;

$ease-in-quart:     cubic-bezier(0.895, 0.030, 0.685, 0.220) !default;
$ease-out-quart:    cubic-bezier(0.165, 0.840, 0.440, 1.000) !default;
$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000) !default;

$ease-in-quint:     cubic-bezier(0.755, 0.050, 0.855, 0.060) !default;
$ease-out-quint:    cubic-bezier(0.230, 1.000, 0.320, 1.000) !default;
$ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000) !default;

$ease-in-sine:      cubic-bezier(0.470, 0.000, 0.745, 0.715) !default;
$ease-out-sine:     cubic-bezier(0.390, 0.575, 0.565, 1.000) !default;
$ease-in-out-sine:  cubic-bezier(0.445, 0.050, 0.550, 0.950) !default;

$ease-in-expo:      cubic-bezier(0.950, 0.050, 0.795, 0.035) !default;
$ease-out-expo:     cubic-bezier(0.190, 1.000, 0.220, 1.000) !default;
$ease-in-out-expo:  cubic-bezier(1.000, 0.000, 0.000, 1.000) !default;

$ease-in-circ:      cubic-bezier(0.600, 0.040, 0.980, 0.335) !default;
$ease-out-circ:     cubic-bezier(0.075, 0.820, 0.165, 1.000) !default;
$ease-in-out-circ:  cubic-bezier(0.785, 0.135, 0.150, 0.860) !default;
$snap:				cubic-bezier(0,1,.5,1) !default;



$designcolor: #b3e838;
$uxcolor: #299aa8;
$fecolor: #b237e8;
$becolor: #e7bf39;
$launchcolor: #0c970a;

* {
	@include box-sizing(border-box);
	font-family:"Helvetica Neue";
	letter-spacing:1.5px;
}

ul, ol {
	margin:0;
}
body {
	background: url("../images/bgTile.jpg");
	color:#606060;
	margin:10px 20px;
}

#main {
	position:relative;
	top:20px;
	#chart {
		top:140px;
		position:relative;
		width:5000px;
		height:860px;
		.chart-column {
			&.closed {
				@include background-image(linear-gradient(top, rgba(104,19,19,0.15) 0%,rgba(63,34,34,0) 100%));
			}
			&.milestone {
				@include background-image(linear-gradient(top, rgba(255,156,0,0.15) 0%,rgba(255,156,0,0) 100%));
				&:before {
					background: url("/images/deliverableDue.png") no-repeat;
					content: "";
					position: absolute;
					top: -23px;
					height: 16px;
					margin-left: 16px;
					width: 17px;
				}
			}
			&.Launch {
				@include background-image(linear-gradient(top, rgba(12,151,10,0.15) 0%,rgba(12,151,10,0) 100%));
				&:before {
					background: url("/images/launchDay.png") no-repeat;
					content: "";
					position: absolute;
					top: -23px;
					height: 16px;
					margin-left: 16px;
					width: 17px;
				}
			}
			&.Design {
				@include background-image(linear-gradient(top, rgba(179,232,56,0.15) 0%,rgba(179,232,56,0) 100%));
				&:before {
					background: url("/images/deliverableDue.png") no-repeat;
					content: "";
					position: absolute;
					top: -23px;
					height: 16px;
					margin-left: 16px;
					width: 17px;
				}
			}

			&.Frontend {
				@include background-image(linear-gradient(top, rgba(178,55,232,0.15) 0%,rgba(178,55,232,0) 100%));
				&:before {
					background: url("/images/deliverableDue.png") no-repeat;
					content: "";
					position: absolute;
					top: -23px;
					height: 16px;
					margin-left: 16px;
					width: 17px;
				}
			}

			&.Backend {
				@include background-image(linear-gradient(top, rgba(231,191,57,0.15) 0%,rgba(231,191,57,0) 100%));
				&:before {
					background: url("/images/deliverableDue.png") no-repeat;
					content: "";
					position: absolute;
					top: -23px;
					height: 16px;
					margin-left: 16px;
					width: 17px;
				}
			}
			&.UX {
				@include background-image(linear-gradient(top, rgba(41,154,168,0.15) 0%,rgba(41,154,168,0) 100%));
				&:before {
					background: url("/images/deliverableDue.png") no-repeat;
					content: "";
					position: absolute;
					top: -23px;
					height: 16px;
					margin-left: 16px;
					width: 17px;
				}
			}
			&.today {
				@include background-image(linear-gradient(top, rgba(92,249,255,0.15) 0%,rgba(92,249,255,0) 100%));
			}
			.date {
				font-family:"Helvetica Neue";
				font-size:11px;
				position:relative;
				color:#454545;
				top:0px;
				text-align:center;
				font-variant: small-caps;
			}
			&:first-child {
				border-left:1px solid rgba(94, 94, 94, 0.26);
			}
			color:#A7A7A7;
			width:55px;
			height:100%;
			border-right:1px solid rgba(94, 94, 94, 0.26);
			border-top: none;
			border-bottom:none;
			display:inline-block;
		}
	}
}

#months {
	.month {
		position:absolute;
		font-size:4em;
		font-weight:bold;
		text-transform: uppercase;
		bottom:-116px;
	}
}

#gui {
	height:65px;
	display:block;
	width:100%;
	color: white;
	position:fixed;
	@include transition(all 150ms ease-out);
	nav {
		ul {
			li {
				display:inline;
			}
		}
	}
}
#add {
	@include transition(all 50ms ease-out);
	width:100%;
	z-index:10;
	position:fixed;
	top:-500px;
	background:rgba(25, 25, 25, 0.9);
	padding:20px;
	left:0;
	height:400px;
	&.showing {
		top:0;
		@include transition(all 50ms ease-out);
	}
}

#edit {
	position:fixed;
	top:-400px;
	width:100%;
	z-index:10;
	background: rgba(25, 25, 25, 0.9);
	@include transition(all 50ms ease-out);
	&.showing {
		top:0;
		@include transition(all 50ms ease-out);
	}
	form {

		fieldset {
			padding-left:8.3%;
			float:left;
			display:inline-block;
		}
	}
}


#statline {
	position: fixed;
	top: 115px;
	width:100%;
	.statline {
		li {
			display:inline;
			font-size:20px;
			font-family:"Helvetica Neue";
			font-weight:bold;
			padding-left:5%;
			&:first-child{
				padding-left:1%;
			}
			list-style-type:none;
			span {
				&.Design_count {
					color:$designcolor;
				}
				&.UX_count {
					color:$uxcolor;
				}
				&.Frontend_count {
					color:$fecolor;
				}
				&.Backend_count {
					color:$becolor;
				}
				&.Launch_count {
					color:$launchcolor;
				}
			}
		}
	}
}




.project {
	@include transition(all 550ms ease-in-out);
	h3 {
		font-size:20px;
		font-weight:normal;
		letter-spacing:1.5px;
		margin-left:1em;
		margin-top:0;
		line-height:35px;
	}
	i.type {
		&.Web {
			background: url("/images/AoF.png") no-repeat;
			width: 18px;
			height: 18px;
			display: inline-block;
			margin-left: 1.5em;
			position: relative;
			bottom: 10px;
			&:after {
				content: "Websites & Applications";
				display:inline-block;
				width:200px;
				color:#B6B67D;
				margin-left:25px;
				font-size:0.85em;
			}
		}
	}
	position:absolute;
	height:70px;
	@include box-shadow(0px 0px 30px 5px rgba(0,0,0, 0.4));
@include background-image(linear-gradient(top, rgba(33,40,46,1) 0%,rgba(30,37,43,1) 50%,rgba(21,28,36,1) 51%,rgba(20,27,35,1) 100%));
	@include border-radius(10px);
	color:#fff;
	font-family:"Helvetica Neue";
	padding:5px;
}


footer {
	position:fixed;
	bottom:0;
	left:0;
	padding:21px;
	width:100%;
	#logo {
		background-image:url("/images/redLogo.png");
		background-repeat:no-repeat;
		background-position:top left;
		width:214px;
		height:18px;
		display:inline-block;
	}
	span {
		font-family:"Helvetica Neue";
		font-size:22px;
		display:inline-block;
		font-variant: small-caps;
		position:relative;
		bottom:4.5px;
		letter-spacing:0.3px;
	}

}
